[user]
	email = slang800@gmail.com
	name = Sean Lang
[color]
	ui = auto
[push]
	default = current
[pull]
	rebase = true
[core]
	excludesfile = ~/.gitignore
	pager = delta
[interactive]
	diffFilter = delta --color-only
[delta]
	features = side-by-side line-numbers decorations
	whitespace-error-style = 22 reverse
[delta "decorations"]
	commit-decoration-style = bold yellow box ul
	file-style = bold yellow ul
	file-decoration-style = none
[diff]
	colorMoved = default
[init]
	defaultBranch = master
